main {
    max-width: 1024px;
    margin: 0 auto;
}

.experience .company {
    font-weight: 500;
}

.experience .tools {
    font-style: italic;
}

.photo {
    width: 150px;
    float: right;
}

.photo img {
    width: 150px;
}

figcaption {
    font-size: 10px;
    text-align: center;
}